<!DOCTYPE html>
<html style="height: 100%;">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="main.js"></script> -->
</head>

<body style="height:100%; display: flex;flex-direction: column;align-items: center;justify-content: center;">
  <div style="width: 300px;margin-bottom: 50px; display: flex;justify-content: space-between;">
    <a href="#combine2js">合并xlsx到js</a>
    <a href="#downloadxlsx">根据js生成xlsx</a>
  </div>
  <div style="width: 300px;height: 300px; overflow: hidden;">
    <form id="combine2js" style="width:400px;height: 300px;" action="/combine2js" method="POST" enctype="multipart/form-data">
      <div>
        <label for="cn">中文:</label>
        <input id="cn" name="cn" type="file" accept=".js">
      </div>
      <div style="margin-top: 10px;">
        <label for="en">英文:</label>
        <input id="en" name="en" type="file" accept=".js">
      </div>
      <div style="margin-top: 10px;margin-bottom: 10px;">
        <label for="xlsx">xlsx文件:</label>
        <input id="xlsx" name="xlsx" type="file" accept=".xlsx">
      </div>
      <button type="submit">合并xlsx到js</button>
    </form>
    <form id="downloadxlsx" style="width:400px;height: 300px; margin: 0 auto;" action="/downloadxlsx" method="POST" enctype="multipart/form-data">
      <div>
        <label for="downloadxlsxCN">中文:</label>
        <input id="downloadxlsxCN" name="cn" type="file" accept=".js">
      </div>
      <div style="margin-top: 10px; margin-bottom: 10px;">
        <label for="downloadxlsxEN">英文:</label>
        <input id="downloadxlsxEN" name="en" type="file" accept=".js">
      </div>
      <button type="submit">下载xlsx</button>
    </form>
  </div>
</body>

</html>