<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="main.js"></script> -->
</head>

<body>
  <form action="/downloadxlsx" method="POST" enctype="multipart/form-data">
    <input name="cn" type="file" accept=".js">中文
    <input name="en" type="file" accept=".js">英文
    <button type="submit">下载xlsx</button>
  </form>
  <div style="margin-top: 50px;"></div>
  <form style="margin: 100px auto;text-align: center;" action="/combine2js" method="POST" enctype="multipart/form-data">
    <div>
      <label for="cn">中文</label>
      <input id="cn" name="cn" type="file" accept=".js">
    </div>
    <div>
      <label for="en">英文</label>
      <input id="en" name="en" type="file" accept=".js">
    </div>
    <div>
      <label for="xlsx">xlsx文件</label>
      <input id="xlsx" name="xlsx" type="file" accept=".xlsx">
    </div>
    <button type="submit">合并xlsx到js</button>
  </form>
</body>

</html>