<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="main.js"></script> -->
</head>

<body>
  <form action="/downloadxlsx" method="POST" enctype="multipart/form-data">
    <input name="cn" type="file" accept=".js">
    <input name="en" type="file" accept=".js">
    <button type="submit">下载xlsx</button>
  </form>
  <div style="margin-top: 50px;"></div>
  <form action="/downloadjs" method="POST" enctype="multipart/form-data">
    <input name="xlsx" type="file" accept=".xlsx">
    <button type="submit">下载js</button>
  </form>
  <div style="margin-top: 50px;"></div>
  <form action="/combine2js" method="POST" enctype="multipart/form-data">
    <input name="cn" type="file" accept=".js">
    <input name="en" type="file" accept=".js">
    <input name="xlsx" type="file" accept=".xlsx">
    <button type="submit">合并xlsx到js</button>
  </form>
</body>

</html>